a.menuc:link { font: bold xx-small Verdana,Arial; text-decoration:none; color : white}
a.menuc:hover { font: bold xx-small Verdana,Arial; text-decoration:none; background-color : orange; color : white}
a.menuc:visited { font: bold xx-small Verdana,Arial; text-decoration:none; color : white }
.dd { font: bold xx-small Verdana,Arial; text-decoration:none; color: white}
.dd1 { font: bold xx-small Verdana,Arial; text-decoration:none; color: blue}
.dda { font: bold xx-small Verdana,Arial; text-decoration:none; background-color : orange; color : white}


.msgtitle
{
	font: 12px Arial;
	color: white;
	background-color: #006699;
}

.msgprwtitle
{
	font: 12px Arial;
	color: white;
	background-color: #009933;
}

.msgbody
{
	padding-right: 10px;
	padding-left: 10px;
	font-size: x-small;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Arial, Verdana;
	background-color: #eeeeee;
}

.msgauthor
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: x-small;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: Arial, Verdana;
	background-color: #eeeeee;
}

.msgauthordt
{
	font-size: xx-small;
	font-family: Verdana,Arial;
	color: #555555;
}

.msgdate
{
	font-size: xx-small;
	font-family: Verdana,Arial;
	background-color: #DDDDDD;
}
.postslisttopic
{
	font-size: x-small;
	font-family: Arial, Verdana;
	background-color: #eeeeee;
}

.postslisttitle
{
	font: x-small Arial,Verdana;
	color: white;
	background-color: #006699;
	background-image :	url(images/b_back.gif);
}

.postslistauthor
{
  background-color: #DDDDDD;
}

.postslistdate
{
  background-color: #DDDDDD;
}

.forumgrpname
{
	font-weight: bold;
	color: white;
	font-family: Arial, Verdana;
	background-color: #999999;
	background-image : url(images/g_back.gif);
}

.forumboarddesc
{
	font-weight: normal;
	font-size: xx-small;
	font-family: Arial, Verdana;
}

.postlistpages
{
  background-color: #DDDDDD;
  font-size: x-small;
  font-family: Arial, Verdana;
}

.forummenu
{
  font-size: x-small;
  font-family: Arial, Verdana;
}

.loginform
{
  font-size: x-small;
  font-family: Arial, Verdana;
}

.optiongroup 
{
  background-color: #888888;
  font-weight : bold;
  color : White;
}

.flatbutton
{
	border :solid 1px;
	font-size : x-small;
}

.pbutton
{
	border :solid 1px;
	font: 10px Verdana;
}


a { color :Blue }

bluebtn
{
	color : #AAAAAA;
	border: solid 1px black;
	font : bold 11px Verana;
}

.tableborder {
	border: 1px solid #666666; }

P           { 
              font-family: Arial; 
              font-size : 10pt 
            }
TD.order    {
	      font-size: 10pt;
	      font-family: Arial; 
            }
TD.orderb   {font: bold 10pt Tahoma,Verdana,Arial; }
TD.orderbb {font: bold 10pt Tahoma,Verdana,Arial; color : blue }
TD.orderbtn {font: bold 10pt Tahoma,Verdana,Arial; color : brown }
TD.bookhead { font: bold 11pt Tahoma,Verdana,Arial; color : brown }

A:hover       { color : red}
A.lblue:link  { font: bold 9pt Arial; color : #0099FF; text-decoration : none; }
A.lblue:hover { color : white; background-color : #FFCC66;}
A.lblue:visited { font: bold 9pt Arial; color : #666699; text-decoration : none; }
.bkhead1 { font: bold 10pt Tahoma,Verdana,Arial; color : brown }
.ordersmall { font: 8pt Tahoma,Verdana,Arial }
A.menui:link { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : black;}
A.menui:visited { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : black;}
A.menui:active { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : #3300FF;}
A.menui:hover { color : #3300FF}
a.menu:link { font: bold Verdana,Arial; text-decoration:none; color : white}
a.menu:hover { font: bold Verdana,Arial; text-decoration:none; background-color : orange; color : white}
a.menu:visited { font: bold Verdana,Arial; text-decoration:none; color : white }
IMG.arrow {margin-top : 3px}
TD.newscat  { font : bold 10px Verdana,Arial; color : white; background-color : "#006699" }
.menuc { font: bold 10px Tahoma,Verdana,Arial; color : white; background-color : "#336699"}
.datesm { font: bold 8pt Tahoma,Verdana,Arial; color : blue}
.text1 { font: 9pt Arial;}
.headline { font-family : Verdana,Arial; color : #5555AA; font-weight: bold}
.txtsmall { font-family : Verdana,Arial,Tahoma; font-size : 11px}
.news { font : 11px Verdana,Arial; color : #555555}
